extends layout

include mixins/_navigationCard

block content
  +navigationCard(title)
  .container
    .row
      .col-lg-12
        .card
          .card-body
            .row
              .col-lg-12
                ul(class="list-inline text-info termspolicydate")
                  li Last Updated: December 28, 2017
                p.text-about.text-justify The following are the terms of use that govern the use of #{h.siteName} services. By accessing and using this service, you accept and agree to be bound by the terms and provision of this agreement as updated from time to time.
                p.text-about.text-justify If you violate these agreement, #{h.siteName} may terminate your use of the Site, and/or take appropriate legal action against you. We may make changes to these Terms from time to time. Any changes we make will be effective on posting on the Site.
                p.text-about.text-justify The "Last Updated" date above will tell you when these Terms were last revised. By continuing to use this Site after that date, you agree to the changes.
                h4 ACCOUNT REGISTRATION
                br
                p.text-about.text-justify !{h.termsRegistration}
                br
                h4 PERMITTED USE
                br
                p.text-about.text-justify !{h.termsIndemfication}
                br
                h4 INDEMNIFICATION
                br
                p.text-about.text-justify !{h.termsIndemfication}
                br
    .row
      br
