mixin callbackForm()
  .card.my-4
    .card-header
      h4= title
    .card-body
      form(method="post").form-contact
        .form-group
          input(type="text" name="name" id="name" value=`${name  || ''}` placeholder="Full Name").form-control.form-control-lg
        .form-group
          input(type="email" name="email" id="email" value=`${email  || ''}`  placeholder="Email Address").form-control.form-control-lg
        .form-group
          input(type="phone" name="phone" id="phone" value=`${phone  || ''}` placeholder="Phone Number").form-control.form-control-lg
        .form-group
          textarea(rows="10" name="message" placeholder="Details about your legal request").form-control #{message || ''}
        .form-group.text-center
          button(type="submit").btn.btn-primary.btn-lg= title