mixin lawyerCard(lawyer = {})
  .card.lawyer-card
    .card-body
      .row
        .col-lg-3.col-md-3.col-sm-3
          img(src="/images/profile.png", alt="dhdh").lawyer-image
        .col-lg-6.col-md-6.col-sm-6
          p.lawyer-name #{lawyer.name}
          p 9+ Years Experience
          ul.list-inline
            each tag in lawyer.tags
              li.list-inline-item
                a(href=`/tags/${tag}`).btn.btn-default.btn-lawyer #{tag}
        .col-lg-3.col-md-3.col-sm-3
          p
            i.fa.fa-thumbs-o-up.text-warning &nbsp;&nbsp;&nbsp;&nbsp;
            span.text-success 5/5
          p
            i.fa.fa-map-marker.text-warning &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            span Ikeja, Lagos
          p
            i.fa.fa-eye.text-warning &nbsp;&nbsp;&nbsp;&nbsp;
            span 150+ Visits
          p
            i.fa.fa-money.text-success &nbsp;&nbsp;&nbsp;&nbsp;
            span #{lawyer.rate}
          a(href=`/attorney/${lawyer.slug}`).btn.btn-primary.btn-lawyer.btn-block Contact Lawyer